<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AJAX Requests</title>
</head>

<body>
    <main>
        <h1>AJAX Requests</h1>
        <div>
            <div>
                {{{body}}}
            </div>
        </div>
    </main>
    <footer>
        Bemin Shaker 10445235
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/maze.js"></script>

</body>

</html>