<form method="post" action="/signup" id="signup-form">
    <label for="username">Username:</label>
    <input id="username" name="username" placeholder="Enter your username...">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password...">
    <button type="submit" onclick="form" class="submit-btn">Signup</button>
    <a href="/">Already have an account? Click here to log-in</a>
    <div>{{ error }}</div>
</form>