<form id="searchForm">
    <label for="search_term">Search for a show:</label>
    <input type="text" id="search_term" />
    <button type="submit">Submit</button>
</form>
<div id="error" hidden></div>
<ul id="showList" hidden></ul>
<div id="show" hidden></div>
<a href="/" id="homeLink" hidden>Back to All Shows</a><br><br>